*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bree Serif', serif;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b8dfe6;
  background-position: center;
  background-size: cover;
}

.container {
  width: 400px;
  height: auto;
  min-height: 400px;
  padding: 30px;
  background: #f9a59a;
  border: 2px solid transparent;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  box-shadow: 0 8px 50px 0 rgba(0,0,0,.15);
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 36px;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.todo-input {
    font-family: 'Bree Serif', serif;
  flex: 1;
  outline: none;
  padding: 10px 10px 10px 20px;
  background-color: white;
  border: 2px solid white;
  border-radius: 30px;
  color: black;
  font-size: 13px;
  margin-right: 10px;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}

.todo-input::placeholder {
  color: gray;
}

.add-button {
  border: none;
  outline: none;
  background: #f9d99a;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  border-radius: 40px;
  width: 40px;
  height: 40px;
}

.empty-image {
  margin: 55px auto 0;
  display: block;
}

.todo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9d99a;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 12px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.todo:first-child {
  margin-top: 0;
}

.todo:last-child {
  margin-bottom: 0;
}

.todo label {
  cursor: pointer;
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: 'Bree Serif', serif;
  color: black;
  font-size: 15px;
}

.todo span {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
}

span::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  margin-left: -30px;
  border-radius: 100px;
  border: 2px solid white;
}

input[type='checkbox'] {
  visibility: hidden;
}

input:checked + span {
  text-decoration: line-through;
}

.todo:hover input:checked + span::before, input:checked + span::before {
  background: url(check.png) 50% 50% #fa5f49;
  border-color: #fa5f49;
}

.todo:hover span::before {
  border-color: #fff;
}

.todo .delete-btn  {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #eee;
  font-size: 13px;
}

.todos-container  {
  height: 300px;
  overflow: overlay;
}

.todos-container::-webkit-scrollbar-track  {
  background: rgb(247, 247, 247);
  border-radius: 20px
}

.todos-container::-webkit-scrollbar  {
  width: 0;
}

.todos-container:hover::-webkit-scrollbar  {
  width: 7px;
}

.todos-container::-webkit-scrollbar-thumb  {
  background: #fff;
  border-radius: 20px;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.filter {
  color: black;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 15px;
  background: #f9d99a;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}

.filter.active, .filter:hover {
  background-color: #fa5f49;
}

.delete-all {
    color: black;
  padding: 5px 15px;
  border-radius: 100px;
  border: 2px solid transparent;
  transition: all 0.2s ease;
  cursor: pointer;
  font-size: 15px;
  background: #f9d99a;
  box-shadow: 0 8px 20px 0 rgba(0,0,0,.15);
}

.delete-all.active, .delete-all:hover {
  background-color: #fa5f49;
}