body {
    width: 50%;
    margin: auto;
}

#inicio {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}

header {
    background: #33a4c9;
    border-bottom: 2px solid #848484;
    padding: 0px 20px;
    overflow: hidden;
}

header figure {
    float: left;
}

header figure img {
    border-radius: 50%;
    border: solid #fff;
    height: 150px;
    width: 150px;
}

header hgroup {
    float: right;
    text-align: center;
}
  
header hgroup h1 {
    padding: 15px;
    color: #fff;
    font: 500 35px 'Dosis', sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}
  
header hgroup h2 {
    color: #fff;
    font: 400 20px 'Dosis', sans-serif;
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}

#informacion {
    display: grid;
    grid-template-columns: 2.7fr 4fr;
}

#izquierda {
    background: whitesmoke;
}

#izquierda img {
    width: 15px;
    height: 15px;
    margin-left: 15%;
}

.extra {
    display: inline-block;
    line-height: 0px;
}

h4 {
    color: #147393;
    border-bottom: 2px solid #BDBDBD;
    font: 600 20px 'Dosis', sans-serif;
    margin-left: 10%;
	margin-right: 7%;
}

p, li {
    font: 500 15px 'Dosis', sans-serif;
    text-align: justify;
    margin-left: 10%;
	margin-right: 7%;
}

b {
    font: 600 17px 'Dosis', sans-serif;
    margin-left: 10%;
	margin-right: 5%;
}

footer {
    display: flex;
    justify-content: center;
    height: 50%;
}